{
    "browser": {
        "exec_path": "path\\to\\chrome.exe",
        "headless": true,
        "proxy_server": "",
        "proxy_auth": ""
    },
    "cookie": {
        "auth_token": "",
        "country_code": "DE"
    },
    "twitch": {
        "game1": "Tom Clancy's Rainbow Six Siege",
        "game2": "",
        "game3": "",
        "to_watch": [],
        "streamheroes": []
    },
    "api": {
        "client_id": "",
        "client_secret": ""
    },
    "misc": {
        "min_watchtime": 4,
        "max_watchtime": 4,
        "only_idle_fixed": false,
        "get_random_stream": true,
        "get_streamhero_stream": true,
        "new_watch_method": true
    }
}
