{
    "auth_token": "token",
    "country_code": "DE",
    "exec": "C:\\Program Files\\Google\\Chrome\\Application\\chrome.exe",
    "game": "Rust",
    "minWatching":15,
    "maxWatching":20,
    "onlyIdleFixed": true,
    "hideBrowser":false,
    "watch": []
}
